@page
@model SignalR.Pages.VoteModel
@{
    ViewData["Title"] = "Vote";
}

<div class="container">
    <div class="col-md-auto">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-arrow-right"></span>Choose Group
                    <span class="glyphicon glyphicon-new-window"></span>
                   
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input  type="radio" name="optionsRadios" value="P407">
                                P407
                            </label>
                        </div>
                        <div class="progress d-none">
                            <div id="P407" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>                           
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" value="P408">
                                P408
                            </label>
                        </div>
                        <div class="progress d-none">
                            <div id="P408" class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuemin="0"aria-valuemax="100"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input  type="radio" name="optionsRadios" value="P409">
                                P409
                            </label>
                        </div>
                        <div class="progress d-none">
                            <div id="P409" class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuemin="0"></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="panel-footer">
                <button id="vote" type="button" class="btn btn-primary" style="width:100%; margin-top:10px" disabled>
                    Vote
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/vote.js"></script>
